<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
<!--        <input type="text" v-model="nick" placeholder="작성자"> <br>-->
<!--        <input type="text" v-model="comment" placeholder="내용">-->
<!--        <button @click="updateChat">등록</button><br/>-->

<!--        <ul>-->
<!--            <li v-for="msg in messages">-->
<!--                <p>{{ msg.nick }} : {{ msg.comment }}</p>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <add @click="updateChat"></add>-->
        <component></component>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./test.js"></script>
</body>
</html>